body {
	margin: 0 auto;
	font-family: roboto;
	height: 100vh;
	aspect-ratio: 1 / 1;
	width: 100%;
	overflow: hidden;
}
.cardinnr .inlinerow {
    position: relative;
}
.cardinnr .inlinerow .logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
}
.cardinnr .inlinerow .logo img {
    width: 100%;
}
.frameablecardstepinnr {
    height: 100%;
    position: relative;
    width: 100%;
}
.frameablecardstep {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	display: flex;
    align-items: center;
	width: 100%;
}
.framablecardinnr .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center 0%;
}
.frameplayable_card, .framablecardinnr, .frameablecardstep {
    height: 100%;
}
p {
    margin: 0;
}
.cardinnr {
    height: 100%;
    padding: 34px 20px 0;
}
.cardinnr .inlinerow p {
    color: #fff;
    font-size: 15px;
    font-family: roboto;
    font-weight: 500
}
.multisteps-form__progress {
    margin: 3px -2px;
    list-style: none;
    padding-left: 0;
    display: flex;
}
.tablist .multisteps-form__progress-btn {
    background: #007f9f;
    width: 34px;
    height: 5px;
    font-size: 0;
    border-radius: 10px;
    margin: 0 1px;
}
.multisteps-form__progress-btn.js-active {
    background: #fff;
}
.calculatescorecntnt {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    max-width: 300px;
    margin: 0 auto
}
.calculatescorecntntinnr {
    background: rgb(255 255 255 / 60%);
    border-radius: 16px;
    width: 100%;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 12%);
}
.calculatescorecntntinnr .scorecntnt {
    padding: 26px 21px 10px;
}
.calculatescorecntntinnr .scoreheader h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}
.calculatescorecntntinnr .scoreheader {
    background: #fff;
    border-radius: 16px;
    padding: 20px 18px;
    text-align: center;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}
.calculatescorecntntinnr .scorecntnt ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}
.calculatescorecntntinnr .scorecntnt ul li {
    font-size: 13px;
    font-weight: 600;
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #000;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 29%);
    border: 1px solid #c9c9cc;
    position: relative;
    cursor: pointer;
}
.calculatescorecntntinnr .scorecntnt ul li.active, .calculatescorecntntinnr .scorecntnt ul li:hover {
    background: #007d9d;
    border-color: #007d9d;
    color: #fff;
}
.calculatescorecntntinnr .scorecntnt ul li span.emoji {
	position: absolute;
	right: -6px;
    top: -6px;
    width: 17px;
}
.calculatescorecntntinnr .scorecntnt ul li span.emoji img {
    width: 100%;
}
.frameablecard_06 .scoreheader {
    background: #007d9d;
    color: #fff;
}
.calculatescoreprogress .calculatescorecntntinnr {
    background: rgb(255 255 255 / 77%);
}
.calculatescoreprogress .calculatescorecntntinnr .scoreheader h2 {
    font-size: 18px;
}
.calculatescorecntntinnr .scorecntnt p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #333;
}
.calculatescorecntntinnr .scorecntnt h6 {
    margin-bottom: 0;
    margin-top: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
@media(max-width: 500px) {
    .cardinnr {
        padding: 22px 20px 0;
    }	
    .calculatescoreprogress .calculatescorecntntinnr .scoreheader h2 {
        font-size: 15px;
    }
    .calculatescorecntntinnr .scorecntnt h6 {
        font-size: 22px;
    }
    .calculatescorecntnt {
        max-width: 270px;
        margin: 0 auto;
    }
    .calculatescorecntntinnr .scoreheader h2 {
        font-size: 22px;
    }
    .calculatescorecntntinnr .scorecntnt ul li {
        font-size: 11px;
        padding: 10px 8px;
    }
    .calculatescorecntntinnr .scorecntnt {
        padding: 22px 18px 10px;
    }
	.frameablecardstepinnr {
	    height: auto;
	}
    .calculatescoreprogress .calculatescorecntnt {
        padding-top: 60px;
        padding-bottom: 40px;
    }
	.framablecardinnr {
	    height: auto;
	    width: 100%;
	}
	.calculatescorecntnt {
	    padding: 30px 0 60px;
	}
    .frameablecard_03  .calculatescorecntnt {
        padding: 30px 0 46px;
    }
	.frameplayable_card {
	    background: #333;
	    z-index: 1;
	    position: relative;
	    display: flex;
	    align-items: center;
	}
    .cardinnr .inlinerow .logo {
        width: 90px;
    }
}
